.Home {
    align-items: center;
    flex: 1;
    margin: 10%;
}

.item {
    margin-top: 10px;
    border-top: 1px solid black;
    padding-top: 10px;
}

.comp {
    flex-direction: rox;
    margin-top: 10px;
    border-top: 1px solid black;
    padding-top: 10px;
}

.item:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
}